Tests: build
Depends: build-essential, clang:native, libsdl2-dev
Restrictions: superficial, allow-stderr
Architecture: armhf amd64

Tests: deprecated-use
Depends: build-essential, clang:native, libsdl2-dev, libsdl2-ttf-dev
Restrictions: superficial, allow-stderr
Architecture: armhf amd64

Tests: cmake
Depends: build-essential, cmake, libsdl2-dev
Restrictions: superficial, allow-stderr
Architecture: armhf amd64
